@page "/cocktails/detail/{CocktailId:int}"
@layout Components.Layout.HtmxResponse
@inject CocktailsService CocktailsService

<section id="cocktail-detail">
    @if (_cocktail != null)
    {
        <div class="row">
            <section class="cocktail-ingredients col-8">
                <h3>@_cocktail.Name</h3>
                <div>Glass: @_cocktail.Glass</div>
                <div>
                    Ingredients:
                    <ul>
                        @foreach (var ingredient in _cocktail.Ingredients)
                        {
                            <li>@ingredient.Measure @ingredient.Name</li>

                        }

                    </ul>
                </div>
                <div>Instructions</div>
                <div>@_cocktail.Instructions</div>
            </section>
            <div class="cocktail-photo col-4">
                <img src="@_cocktail.Thumbnail" alt="Photo of @_cocktail.Name" />
            </div>
        </div>
    }    
</section>

@code {
    [Parameter]
    public int CocktailId { get; set; }
    
    private Cocktail? _cocktail;

    protected override void OnInitialized()
    {
        _cocktail = CocktailsService.GetDrink(CocktailId);
    }

}