<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/globals.css"]" />
    <link rel="stylesheet" href="@Assets["css/generics.css"]" />
    <link rel="stylesheet" href="@Assets["css/imagesandicons.css"]" />
    <link rel="stylesheet" href="@Assets["css/text.css"]" />
    <link rel="stylesheet" href="@Assets["css/pages/testimonials.css"]" />
    <link rel="stylesheet" href="@Assets["css/tailwind.css"]" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["js/htmx.min.js"]"></script>
</body>

</html>
